body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  grid-area: header;
  margin-right: 290px;
}

.headerleft {
  position: absolute;
  top: 40px;
  left: 180px;
}

.headerlefttext {
  position: absolute;
  bottom: 0;
  left: 110px;
  font-size: 30px;
}

.navigation {
  grid-area: navi;
}

.menu {
  grid-area: menu;
  margin: auto;
}

.main {
  grid-area: main;
  text-align: left;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.bmain {
  grid-area: bmain;
}

.bmain2 {
  grid-area: bmain2;
}

.bleft {
  grid-area: bleft;
}

.bright {
  grid-area: bright;
}

.footer {
  grid-area: footer;
}

.headerimg {
  width: 60px;
  position: absolute;
  top: 10px;
  left: 160px;
}

.space {
  margin-top: 50px;
}

.space2 {
  margin-top: 80px;
}

.space3 {
  margin-top: 50px;
  text-align: left;
}

.spacec {
  margin-top: 50px;
  color: blue;
}

.iconcircle {
  margin-top: 10px;
}

.gimage {
  width: 600px;
}

.gimage1 {
  width: 100px;
}

.textleft {
  text-align: left;
}

.textleftc {
  text-align: left;
  color: blue;
}

.textright {
  text-align: right;
}

#button {
  position: relative;
}

#text {
  position: absolute;
  text-align: center;
  left: 40px;
  bottom: 4px;
  color: white;
}

#button2 {
  padding-top: 20px;
  position: relative;
}

#text2 {
  position: absolute;
  text-align: center;
  left: 50px;
  bottom: 0px;
  color: white;
}

.fontsize {
  font-size: 20px;
}

.button {
  position: relative;
  top: 100px;
  right: 30px;
}

.text {
  position: absolute;
  text-align: center;
  right: 60px;
  bottom: 4px;
  color: white;
}

.button2 {
  position: relative;
  top: 10px;
}

.text2 {
  position: absolute;
  text-align: center;
  right: 135px;
  bottom: 4px;
  color: white;
}

.button3 {
  position: relative;
  bottom: 50px;
  right: 130px;
}

.text3 {
  position: absolute;
  text-align: center;
  right: 75px;
  bottom: 4px;
  color: white;
}

.button4 {
  position: relative;
  top: 80px;
  right: 30px;
}

.text4 {
  position: absolute;
  text-align: center;
  right: 60px;
  bottom: 4px;
  color: white;
}

.button5 {
  position: relative;
  top: 85px;
  right: 30px;
}

.text5 {
  position: absolute;
  text-align: center;
  right: 60px;
  bottom: 4px;
  color: white;
}

.button6 {
  position: relative;
  top: 40px;
  right: 30px;
}

.text6 {
  position: absolute;
  text-align: center;
  right: 60px;
  bottom: 4px;
  color: white;
}

.headerpad {
  text-align: left;
  margin-left: 30px;
  font-size: 40px;
}

.headerpadc {
  text-align: left;
  margin-left: 30px;
  color: blue;
}

.headerpcenter {
  text-align: center;
  margin-left: 70px;
  color: blue;
  font-size: 20px;
}

.headercenter {
  text-align: center;
  margin-left: 70px;
  font-size: 40px;
}

.boxtext {
  text-align: left;
  margin-left: 30px;
}

.boxtext2 {
  text-align: left;
  margin-left: 40px;
  color: white;
}

.boxhead {
  text-align: center;
  font-size: 30px;
  color: white;
}

.boxhead2 {
  text-align: center;
  font-size: 40px;
  color: white;
}

span {
  font-size: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px 550px;
  grid-template-rows: 100px 100px 400px;
  grid-template-areas:
    'header header i j navi o'
    'menu p q r right right'
    'menu main main main right right'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-image: url(../img/Bg\ Shape@2x.png);
  background-position: right top;
  background-size: 900px;
  background-repeat: no-repeat;
  padding: 10px;
}

.grid-container>div {
  text-align: center;
  padding: 20px 0;
}

.grid-container2 {
  display: grid;
  grid-template-areas:
    'main main main right right right';
  gap: 10px;
  background-image: url();
  background-position: right top;
  background-size: 900px;
  background-repeat: no-repeat;
  padding: 10px;
}

.grid-container2>div {
  text-align: center;
  padding: 20px 0;
}

.grid-container3 {
  display: grid;
  grid-template-columns: 125px 125px 125px 125px 125px 125px 125px;
  grid-template-rows: 100px 450px 450px;
  grid-template-areas:
    'header header header header header i'
    'left left main main right right'
    'bleft bleft bmain bmain bright bright';
  gap: 100px;
  padding: 100px;
}

.grid-container3>div {
  text-align: center;
  padding: 20px 0;
}

.grid-container4 {
  display: grid;
  background-color: rgb(218, 201, 234);
  grid-template-columns: 125px 125px 125px 125px 125px 125px 125px;
  grid-template-rows: 100px 450px;
  grid-template-areas:
    'k header header header header header'
    'left left main main right right';
  gap: 100px;
  padding: 100px;
}

.grid-container4>div {
  text-align: center;
  padding: 20px 0;
}

.grid-container5 {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
  grid-template-rows: 100px 400px 300px;
  grid-template-areas:
    'k header  header header header header'
    'o main main main main p'
    'g bleft bmain bmain2 bright e';
  gap: 10px;
  background-image: url(../img/Bg\ Shape\ footer.png);
  background-position: left bottom;
  background-size: 1500px;
  background-repeat: no-repeat;
  padding: 100px;
}

.grid-container5>div {
  text-align: center;
  padding: 20px 0;
}

#bordersha {
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 20px 0;
}

#bordersha1 {
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 20px 0;
}

#bordersha2 {
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 20px 0;
}

#bordersha3 {
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 20px 0;
}

#bordersha4 {
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 20px 0;
}

#bordersha5 {
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 20px 0;
}

#bordersha6 {
  text-align: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 20px 0;
}

#bordersha7 {
  text-align: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 20px 0;
}

#bordersha8 {
  text-align: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 20px 0;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.dot {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 60%;
  border: 4px solid rgb(236, 236, 236);
  box-shadow: inset 0 0 0 1px rgb(236, 236, 236);
}

.center {
  text-align: center;
  background-color: rgb(218, 201, 234);
}

.dot2 {
  height: 10px;
  width: 10px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 50px;
}

input[type=text] {
  margin-left: 50px;
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

@media screen and (max-width: 600px) {
  .grid-container {
    width: 100%;
  }

  .grid-container2 {
    width: 100%;
  }

  .grid-container3 {
    width: 100%;
  }

  .grid-container4 {
    width: 100%;
  }

  .grid-container5 {
    width: 100%;
  }
}